.contact {
    margin-top: 50px;
}

.map {
    border: $border;
    padding: 5px;
    margin-bottom: 50px;
}

.google-map {
    width: 400px;
    height: 400px;

    @include devices(mobile) {
        width: 350px;
        height: 350px;
    }
}

.contact-info {
    width: 415px;
    font-size: 1.5em;
    
    i{
        font-size: 1.2em;
        padding: 10px;
    }

    p {
        padding-left: 20px;
        padding: 10px;
    }

    @include devices(mobile) {
        width: 365px;
    }
}

.test {
    border: $border;
}